.block_slideshow_slideshow {
    overflow: hidden;
    position: relative;
    font-size: 1vw;
}

.block_slideshow_slide {
    position: relative;
    display:none;
}

.block_slideshow_slide img {
    width: 100%;
}

.block_slideshow_caption {
     position: absolute;
     background-color: #ffffff;
     background-color: rgba(255, 255, 255, 0.7);
     padding: .75em;
     border: thin solid #cccccc;
     display:block;
     text-align: left;
     font-size: 1.2em;
}

.block_slideshow_caption a {
     color: black;
}

.block_slideshow_caption h1 {
     font-size: 1.8em;
     line-height: 1.2em;
     margin: 0;
}

.block_slideshow_caption p {
     font-size: 1em;
     margin: 0;
     overflow: hidden;
}

.block_slideshow .slick-prev,
.block_slideshow .slick-next,
.block_slideshow_up,
.block_slideshow_down {
     display: none !important;
     z-index: 999;
}

.block_slideshow_slideshow:hover .slick-prev,
.block_slideshow_slideshow:hover .slick-next {
     display: inline-block !important;
}

.block_slideshow_up {
     top: 5px;
     left: 48%;
}

.block_slideshow_down {
     bottom: 30px;
     left: 48%;
}

.block_slideshow .slick-prev {
     top: 47.5%;
     left: 5px;
}

.block_slideshow .slick-next {
     top: 47.5%;
     right: 30px;
}

.block_slideshow .slick-prev:before,
.block_slideshow .slick-next:before {
     font-size: 40px;
     color: #dddddd;
}

.block_slideshow .slick-dots {
     position: absolute;
     width: auto;
     margin: 0;
     padding: 0;
     text-align: center;
     z-index: 3;
}

.slick-dots li button:before {
     display: none;
}

.block_slideshow .slick-dots li {
     background-color: #ffffff;
     border: thin solid #555555;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     width: 1em;
     height: 1em;
     margin-left: .15em;
     margin-right: .15em;
     opacity: .75;
}

.block_slideshow .slick-dots li.slick-active {
     background-color: #aaaaaa;
}

.block_slideshow .slick-dots.slick-dots-topleft {
     top: .5em;
     left: .5em;
}

.block_slideshow .slick-dots.slick-dots-top {
     top: .5em;
     left: 45%;
     right: 45%;
     min-width: 10%;
}

.block_slideshow .slick-dots.slick-dots-topright {
     top: .5em;
     right: .5em
}

.block_slideshow .slick-dots.slick-dots-left {
     left: .5em;
     top: 40%;
     width: 1em;
}

.block_slideshow .slick-dots.slick-dots-right {
     right: .5em;
     top: 40%;
     width: 1em;
}

.block_slideshow .slick-dots.slick-dots-bottomleft {
     bottom: .5em;
     left: .5em;
}

.block_slideshow .slick-dots.slick-dots-bottom {
     bottom: .5em;
     left: 45%;
     right: 45%;
     min-width: 10%;
}

.block_slideshow .slick-dots.slick-dots-bottomright {
     bottom: .5em;
     right: .5em;
}
